<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fefumarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FEFUMARKET">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Экран загрузки (Loading) — запускается первым -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.FEFUMARKET">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Экран входа -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- Экран ввода почты (регистрация) -->
        <activity
            android:name=".EmailInputActivity"
            android:exported="false" /> <!-- Экран подтверждения кода -->
        <activity
            android:name=".CodeVerificationActivity"
            android:exported="false" /> <!-- Экран создания пароля (регистрация) -->
        <activity
            android:name=".PasswordCreationActivity"
            android:exported="false" />
    </application>

</manifest>